<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Tic-Tac-Toe</h1>
    <div id="name">Hello! <%=payload.user.name %>😊</div>
    <div id="opponent"></div>
    <div id="waitAnimation"></div>
    <div id="pick"></div>
    
    <div id="requestShowerBox" class="showRequest hideRequest">
        <div>Play Again ?</div>
        <div>
            <button type="button" id="connect" class="requestButton">Yes</button>
            <button type="button" id="reject" class="requestButton">No</button>
        </div>
    </div>
    <div class="game-container">
        <div class="grid">
            <div class="cell" data-index="1"></div>
            <div class="cell" data-index="2"></div>
            <div class="cell" data-index="3"></div>
            <div class="cell" data-index="4"></div>
            <div class="cell" data-index="5"></div>
            <div class="cell" data-index="6"></div>
            <div class="cell" data-index="7"></div>
            <div class="cell" data-index="8"></div>
            <div class="cell" data-index="9"></div>
        </div>
        <button id="playagain" onclick="hilao()">Play Again</button>
    </div>
    <div id="messageBox" class="hide"></div>
    <img src="pngtree-balloon-icon-png-image_8550063.png" height="100px" weight="100px" id="congrats">
    <img src="116-1169222_crying-emoji-png-clipart-face-with-tears-of.png" height="100px" weight="100px" id="weep">
    <script src="/socket.io/socket.io.js"></script>
    <script src="script1.js"></script>
</body>
</html>