/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    background-color: #a91818;
    padding: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}


.show{
    display:block;
}

.hide{
    display:none;
}

#name{
    position:absolute;
    right:0;
    top:0;
}

#listOfFreeUsers{
    position:absolute;
    left:0;
    top:0;
}

.showRequest{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    position:absolute;
    background-color: rgb(237, 227, 227);
    padding:10px;
    border-radius: 30px;
    min-width:50%;
    min-height:30%;
    z-index:100;
}

.requestButton{
    border-radius: 30px;
}

.requestButton:hover{
    background-color: antiquewhite;
}

.hideRequest{
    
    display:none;
}

#opponent{
    position:absolute;
    top:20px;
    left:20px;
    display:none;
}

#waitAnimation{
    width:50px;
    height:50px;
    border:5px dotted black;
    border-radius:50%;
    position:absolute;
    top:20px;
    left:20px;
    animation-name: rotate;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from{
        transform:rotateZ(0deg);
    }
    to{
        transform:rotatez(360deg);
    }
    
}

#waitAnimation:hover{
    /*transform:rotateZ(360deg);
    transition-property: transform;
    transition-duration: 36s;*/
    /*animation-name: rotate;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}

#pick{
    position:absolute;
    top:0;
    display:none;
}

#congrats{
    position:absolute;
    bottom:-100px;
    display:none;
    z-index:1000;
}

#weep{
    position:absolute;
    bottom:-100px;
    display:none
}

@keyframes balloon_urao{
    from{
        /*display: none;*/
        bottom:-100px;
    }
    to{
        /*display:block;*/
        bottom:100vh;

    }
}

.animate{
    display:block !important;
    animation: balloon_urao 5s forwards;

}

#playagain{
    border-radius:75px;
}

#playagain:hover{
    box-shadow: 5px 5px 5px white;
    background-color: aquamarine;
    transition-property: box-shadow background-color;
    transition-duration: 2s;
}
